<div class="container mx-auto p-4 md:p-6 max-w-7xl">
  <!-- Header -->
  <app-page-header
    [title]="isEditMode ? store.selectedHousehold()?.name || 'Loading...' : 'New Household'"
  >
    <button mat-stroked-button (click)="goBack()" class="border-gray-300"><mat-icon>arrow_back</mat-icon> Back</button>
  </app-page-header>

  @if (isEditMode && store.selectedHousehold()?.createdAt) {
    <app-audit-info [entity]="store.selectedHousehold()" customClasses="mb-4 px-1" />
  }

  <!-- Content -->
  <div class="bg-white rounded-lg shadow-sm border border-gray-200 overflow-hidden min-h-[600px]">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="General">
        <ng-template matTabContent>
          <app-household-general></app-household-general>
        </ng-template>
      </mat-tab>
      <mat-tab label="Members">
        <ng-template matTabContent>
          <app-household-members></app-household-members>
        </ng-template>
      </mat-tab>
      <mat-tab label="Relationships">
        <ng-template matTabContent>
          <div *appHasPermission="'relationships.view'; else noAccess">
            <app-household-relationships></app-household-relationships>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Documents">
        <ng-template matTabContent>
          <div *appHasPermission="'documents.view'; else noAccess">
            <app-household-documents></app-household-documents>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Pictures">
        <ng-template matTabContent>
          <div *appHasPermission="'pictures.view'; else noAccess">
            <app-household-pictures></app-household-pictures>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Stewardship">
        <ng-template matTabContent>
          <div *appHasPermission="'stewardships.view'; else noAccess">
            <app-household-stewardships></app-household-stewardships>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Donations">
        <ng-template matTabContent>
          <div *appHasPermission="'donations.view'; else noAccess">
            <app-household-donations></app-household-donations>
          </div>
        </ng-template>
      </mat-tab>
      <ng-template #noAccess>
        <div class="p-8 text-center text-gray-500">
          <mat-icon class="text-4xl mb-2">lock</mat-icon>
          <p>You do not have permission to view this content.</p>
        </div>
      </ng-template>
    </mat-tab-group>
  </div>
</div>
